Source: ros-lyrical-mqtt-client
Section: misc
Priority: optional
Maintainer: "Lennart Reiher" <lennart.reiher@rwth-aachen.de>
Build-Depends: debhelper (>= 9.0.0), libfmt-dev, libpaho-mqtt-dev, libpaho-mqttpp-dev, ros-lyrical-ament-cmake, ros-lyrical-mqtt-client-interfaces, ros-lyrical-rclcpp, ros-lyrical-rclcpp-components, ros-lyrical-rcpputils, ros-lyrical-rosx-introspection, ros-lyrical-std-msgs, ros-lyrical-ros-workspace
Homepage: http://wiki.ros.org/mqtt_client
Standards-Version: 3.9.2

Package: ros-lyrical-mqtt-client
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libfmt-dev, libpaho-mqtt-dev, libpaho-mqttpp-dev, ros-lyrical-mqtt-client-interfaces, ros-lyrical-rclcpp, ros-lyrical-rclcpp-components, ros-lyrical-rcpputils, ros-lyrical-rosx-introspection, ros-lyrical-std-msgs, ros-lyrical-ros-workspace
Description: Node that enables connected ROS-based devices or robots to exchange ROS messages via an MQTT broker using the MQTT protocol.
