Source: ros-kilted-mqtt-client-interfaces
Section: misc
Priority: optional
Maintainer: Lennart Reiher <lennart.reiher@rwth-aachen.de>
Build-Depends: debhelper (>= 9.0.0), ros-kilted-ament-cmake, ros-kilted-ros-environment, ros-kilted-rosidl-default-generators, ros-kilted-std-msgs, ros-kilted-ros-workspace, ros-kilted-rosidl-typesupport-fastrtps-c, ros-kilted-rosidl-typesupport-fastrtps-cpp
Homepage: http://wiki.ros.org/mqtt_client
Standards-Version: 3.9.2

Package: ros-kilted-mqtt-client-interfaces
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-kilted-ros-environment, ros-kilted-rosidl-default-runtime, ros-kilted-std-msgs, ros-kilted-ros-workspace
Description: Message and service definitions for mqtt_client
